AWS_REGION=us-east-1
PROJECT_PREFIX=joao-vilas-task3

# Preencha apos rodar `terraform apply`:
# uv run python scripts/show_config.py para imprimir os valores corretos.
DB_SECRET_ID=
GLUE_DATABASE=
ATHENA_WORKGROUP=
ATHENA_OUTPUT_S3=
ETL_BUCKET=
