DB_HOST=classicmodels-rds-a2t2.xxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=troque_esta_senha_forte
DB_NAME=classicmodels

PIPELINE_NAME=classicmodels_sales

AWS_REGION=us-east-1
MYSQL_SQL_PATH=data/mysqlsampledatabase.sql
WATERMARK_SQL_PATH=sql/init_watermark.sql
MYSQL_CONNECT_RETRIES=10
MYSQL_CONNECT_DELAY_SECONDS=10
